openapi: '3.0.2'
info:
  title: Servers demo API
  version: '1.0'
  description: Test API for testing AMF service
  termsOfService: http://example.com/terms/
  contact:
    name: API Support
    url: http://www.example.com/support
    email: support@example.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://development.gigantic-server.com/v1
    description: Development server
  - url: https://staging.gigantic-server.com/v1
    description: Staging server
  - url: https://api.gigantic-server.com/v1
    description: Production server
  - url: https://{username}.gigantic-server.com:{port}/{basePath}
    description: The production API server
    variables:
      username:
        default: demo
        description: this value is assigned by the service provider, in this example `gigantic-server.com`
      port:
        enum:
          - '8443'
          - '443'
        default: '8443'
      basePath:
        default: v2

components:
  schemas:
    GeneralError:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    Category:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    Tag:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    Article:
      description: Representation of an article with title and body in CommonMark format.
      type: object
      properties:
        id:
          type: string
          description: The unique ID of this article, generated by the API implementation upon creation of the article.
          readOnly: true
        title:
          description: The title of the article, in CommonMark format.
          type: string
          minLength: 3
  parameters:
    skipParam:
      name: skip
      in: query
      description: number of items to skip
      required: true
      schema:
        type: integer
        format: int32
    limitParam:
      name: limit
      in: query
      description: max records to return
      required: true
      schema:
        type: integer
        format: int32
  responses:
    NotFound:
      description: Entity not found.
    IllegalInput:
      description: Illegal input for operation.
    GeneralError:
      description: General Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GeneralError'
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
    petstore_auth:
      type: oauth2
      flows: 
        implicit:
          authorizationUrl: http://example.org/api/oauth/dialog
          refreshUrl: http://example.org/api/refresh
          scopes:
            write:pets: modify pets in your account
            read:pets: read your pets
    
    BasicAuth:
      type: http
      scheme: basic
      description: A basic HTTP scheme

    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer form of authentication
    
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Using API keys

    ApiKeyQuery:
      type: apiKey
      in: query
      name: X-API-Key
      description: API Key in a query parameter
    
    OpenID:
      type: openIdConnect
      openIdConnectUrl: https://example.com/.well-known/openid-configuration
      description: Using OpenId
    
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://example.com/oauth/authorize
          tokenUrl: https://example.com/oauth/token
          refreshUrl: http://example.org/api/refresh
          scopes:
            read: Grants read access
            write: Grants write access
            admin: Grants access to admin operations
        clientCredentials:
          tokenUrl: https://example.com/oauth/token
          refreshUrl: http://example.org/api/refresh
          scopes:
            read: Grants read access
        password:
          tokenUrl: http://example.org/api/token
          scopes:
            write: Grants write access
      description: An oauth configuration.

    cookieAuth:
      type: apiKey
      in: cookie
      name: JSESSIONID

paths:
  /pets:
    get:
      description: Returns all pets from the system that the user has access to
      summary: Find all pets
      operationId: listPets
      tags:
        - pet
      security:
        - petstore_auth:
          - write:pets
          - read:pets
      responses:
        '200':
          description: A list of pets.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
  /default:
    description: A default path to the API
    get:
      summary: "A get method"
      responses:
        '200':
          description: Successful response
    post:
      summary: Add something
      requestBody:
        content:  # Response body
          application/json:  # Media type
            schema:
              $ref: "#/components/schemas/Article"
      responses:
        '201':
          description: Successful creation
          content:
            appliication/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Article"
                  - type: object
                    properties:
                      description:
                        type: string
  /securityCombo:
    get:
      security:
        - petstore_auth:
          - write:pets
        - api_key: []
        - OpenID: []
        - OAuth2:
          - read
        - cookieAuth: []
      responses:
        '200':
          description: All security
          content:
            application/json:
              schema:
                type: string
  /subscribe:
    post:
      operationId: subscribe
      summary: Subscribe to a webhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                callbackUrl:
                  type: string
                  format: uri
                  example: https://myserver.com/send/callback/here
                inProgressUrl:
                  type: string
                failedUrl:  
                  type: string
                successUrl:
                  type: string
              required:
                - callbackUrl
      responses:
        '201':
          description: Webhook created
      callbacks:
        myEvent:
          '{$request.body#/callbackUrl}':
            post:
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        message:
                          type: string
                          example: Some event happened
                      required:
                        - message
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
  /oas-properties:
    post:
      externalDocs:
        url: https://docs.com
        description: A doc
      deprecated: true
      tags:
        - "pets"
        - "tests"
      description: A description
      operationId: myId
      requestBody:
        description: A body
        required: false
        content:
          application/x-www-form-urlencoded:
            encoding: 
              color:
                style: form
                explode: false
            examples:
              simple:
                value:
                  - yellow
                  - red
                  - pink
                summary: A sample color value
                description: Example of a color value
            schema:
              type: object
              properties:
                color:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: OK response
  /http-security:
    get:
      security:
        - BasicAuth: []
      responses:
        '201':
          description: OK
    post:
      security:
        - BearerAuth: []
      responses:
        '201':
          description: OK
    put:
      security:
        - ApiKeyAuth: []
      responses:
        '201':
          description: OK
    patch:
      security:
        - cookieAuth: []
      responses:
        '201':
          description: OK
    options:
      security:
        - ApiKeyQuery: []
      responses:
        '102':
          description: OK
  /open-id:
    get:
      security:
        - OpenID: []
      responses:
        '201':
          description: OK
